* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
 }

html, body {
    margin:0;
    height:100vh;
    width: 100vw;
}
.cyan {
    background-color: cyan;
}
.white{
    color: white;
}
h1{
    margin: 0;
    font-size: 3vmax;
    color: white;
}
/* ******************************************** */


/* header */

header {
    background-color: #7451EB;
    display:flex;
    align-items:center;
}
header > article > h2,p {
    margin-top:0;
    margin-bottom: 50px;
    font-size: 2vmax;
}
#pres {
    width: 45vw;
    margin: 50px 50px 30px 80px;
}
#aside-pres {
    position: relative;
    width: 40vw;
}
#img-profil {
    width:60%;
    object-fit: contain;
}
/* ******************************************** */

/* section central */

section {
    display: flex;
    align-items: center;
    width:100vw;
}
#aside-comp {
    width: 30vw;
}
#comp {
    padding: 50px;
}
section > article > h2{
    margin-bottom: 20px;
    font-size:2vmax;
}
section > article > p,ul {
    font-size: 1vmax;
}
/* ******************************************** */


/* footer */

footer {
    background-color: #003668;
    width: 100vw;
}
.footer {
    padding: 60px;

}
.res-logo {
    width: 10vw;
    margin-right: 40px;
}

footer > div > p {
    margin-top:0;
    margin-bottom: 50px;
    font-size: 2vmax;
}
footer > div > h2 {
    margin-bottom: 0;
    font-size: 3vmax;
}

/* ******************************************** */
