html, body {
    margin:0;
    height:100vh;
}
.cyan {
    background-color: cyan;
}
.white{
    color: white;
}
h1{
    margin: 0;
    font-size: 3vmax;
    color: white;
}
/* ******************************************** */


/* header */

header {
    background-color: #7451EB;
    display:flex;
}
header > article > h2,p {
    margin-top:0;
    margin-bottom: 50px;
    font-size: 2vmax;
}
#pres {
    width: 50vw;
    margin: 50px 50px 30px 80px;
}
#aside-pres {
    position: relative;
    width: 50vw;
}
#img-profil {
    position:absolute;
    bottom:0;
    height:100%;
    object-fit: contain;
}
/* ******************************************** */

/* section central */

section {
    display: flex;
    align-items: center;
}
#aside-comp {
    width: 30vw;
}
#comp {
    padding: 50px;
}
section > article > h2{
    font-size:2vmax;
}
section > article > p,ul {
    font-size: 1vmax;
}
/* ******************************************** */


/* footer */

footer {
    background-color: #003668;
    padding: 60px;
}

.res-logo {
    width: 10vw;
    margin-right: 40px;
}

footer > p {
    margin-top:0;
    margin-bottom: 50px;
    font-size: 2vmax;
}
footer > h2 {
    margin-bottom: 0;
    font-size: 2vmax;
}

/* ******************************************** */
